.cover {
    margin: 64px auto;
    height: 200px;
}

@media screen and (min-width: 768px) {
    .cover {
        margin: 90px auto;
        height: 480px;
    }
}

@media screen and (min-width: 1024px) {
    .cover {
        margin: 92px auto;
        margin-top: 0;
        height: 640px;
    }
}

@media screen and (min-width: 1280px) {
    .cover {
        height: 740px;
    }
}